body {
    background-color: #F8F5F2;
    color: #3E3E3E;
}
.titulos{
    font-family: "Playfair Display", serif;
}
.texto{
    font-family: "Poppins", sans-serif;
}

.column{
    float: left;
    width: 25%;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.row {
    margin: auto;
    width: 80%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.header{
    background: url("../images/food_header.jpg") no-repeat center/cover;
    padding: 60px;
    margin-bottom: 1%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.dark-mode {
    background-color: black;
    color: white;
  }